div {
    place-content: center;
}

ul {
    display: grid;
    grid-template-columns: repeat(3,172px);
    list-style-type: none;
    align-items: center;
    color: #66B1F6;
    margin-top: 28px;
    height: 435px;
    gap: 20px;
}
