li {
    display: flex;
    align-items: center;
    user-select: none;
    justify-content: center;
    cursor: pointer;
    text-wrap: nowrap;
    width: 112px;
    height: 32px;
    padding: 10px 30px;
    border-radius: 12px;
    font-size: 18px;
}

.liFalse {
    background-color: #F8F8F8;
    border: 1px solid #F8F8F8;
}

.liTrue {
    background-color: #66B1F6;
    border: 1px solid #66B1F6;
    color: #F8F8F8;
}