* {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  user-select: none;
}

main {
  display: grid;
  grid-template-columns: repeat(2,600px);
  align-items: center;
  justify-content: center;
  height: 80vh;
}