.DivSliderContainer {
    display: flex;
    width: 100%;
    color: #66B1F6;
    margin-top: 24px;
}

.SliderDiv {
    background-color: #D9D9D9;
    width: 60%;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 12px;
    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;
}

.SliderItem {
    position: absolute;
    top: 4.5px;
    left: 0;
    margin-left: 8px;
    max-width: 94%;
    margin-right: 8px;
    height: 11px;
    background-color: #66B1F6;
    border-radius: 12px;
}